<div class="center hero-unit">
	
	<h1>Welcome to BaBel</h1>
	
	<p>
	  A lounge for sophisticated connectivity.
    </p>


	<p>
	  <%= link_to "Signup Now", "#", class: "btn btn-primary btn-large" %>
	</p>

</div>
